

.container{
    display: flex;
    flex-flow: row;
    background-color: aquamarine;
    height: 200px;

    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.item{
    width:100% ;
    
    height: 50px;
    background-color: bisque;
    border: 1px solid black;
    flex-grow: 1;
}

